@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);

  /* font family */

  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 8rem 3.5rem;
  background: linear-gradient(to left, var(--color-4), var(--color-5));
  font-family: var(--font-rubik);
  color: var(--color-6);
}

.contact-form {
  min-width: 500px;
  max-width: 900px;
  padding: 20px;
  border: 1px solid var(--color-3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 30px;
  transition: transform 0.5s ease-in-out;
}

.contact-form:hover {
  transform: scale(1.015);
  cursor: pointer;
}

.form-group {
  margin-bottom: 2rem;
}

.contact-heading {
  font-family: var(--font-1);
  color: var(--color-6);
  font-size: 3rem;
}

.contact-subheading {
  font-family: var(--font-1);
  color: var(--color-6);
  font-size: 2rem;
  margin-bottom: 1px;
}

.contact-paragraph {
  font-family: var(--font-rubik);
  color: var(--color-6);
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 2rem;
}

input::placeholder,
textarea::placeholder {
  color: rgba(70, 11, 70, 50%);
}

@media (max-width: 768px) {
  .contact-form {
    min-width: auto;
    width: 90%;
  }

  .contact-container {
    padding: 8rem 1.5rem;
  }
}

@media (max-width: 480px) {
  .contact-form {
    width: 90%;
  }
}

.form-group {
  margin-bottom: 2rem;
}