@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);

  /* font family */

  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

.home-container{
  margin-top: 0rem;
}

.home-left{
  /* background: linear-gradient(to left, var(--color-4), var(--color-5)); */
  
}

.slick-slider {
  overflow-x: hidden;
}

.home-left h1 {
  font-family: var(--font-rubik);
  font-size: 4rem;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 10rem;
  text-shadow: 5px 5px 10px var(--color-6);
  margin: auto 20px;
}

b{
  font-family: var(--font-rubik);
  font-size: 7rem;
  text-shadow: 5px 5px 10px var(--color-6);
  color: var(--color-1);
}

.para {
  position: absolute;
  top: 2rem;
  width: 30rem;
}

.home-left p{
  color: rgb(255 255 255);
  font-size: 1.5rem;
  position: absolute;
  top: 15rem;
  font-family: var(--font-rubik);
  font-weight: bold;
  text-shadow: 2px 2px 10px black;

}

.rotating-image {
  max-width: 100%; 
  height: auto; 
  animation: moveUpDown 3s ease-in-out infinite; 
  width: 50rem; 
  position: absolute;
  left: 45rem;
  top: 12.8rem;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-60px); 
  }
}


@media (max-width: 948px) {

  .home-left h1{
    font-size: 3rem;
  }

  b{
    font-size: 3rem;
  }

  
  .para {
    position: absolute;
    /* top: -5rem; */
    left: 1rem;
    width: 30rem;
  }
  
  .home-left p{
    font-size: 1.2rem;
  }

  .home-right img{
    position: absolute;
    width: 30rem;
    left: 6rem;
    top: 23rem;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 580px) {

  .home-left h1{
    font-size: 1.5rem;
  }

  b{
    font-size: 2rem;
  }

  .para {
    position: absolute;
    /* top: -3rem; */
    left: 0.5rem;
    width: 15rem;
  }
  
  .home-left p{
    font-size: 1rem;
  }

  .home-right img{
    position: absolute;
    width: 18rem;
    left: 3rem;
    top: 32rem;
  }
}

