@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);

  /* font family */
  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

.home-container {
  background: linear-gradient(to left, var(--color-4), var(--color-5));
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  
}

.top {
  display: flex;
  margin: 6rem 2rem 5rem 2rem;
  transform: translateY(-9%);
  overflow: hidden;
}

.top-left {
  margin-top: 9rem;
  /* margin-left: 4rem; */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.top-left .top-left-1 {
  font-size: 3.9rem;
  margin-bottom: -15px;
  text-align: left;
  width: 70%;
}

.top-left .top-left-2-h6 {
  font-size: 1.5rem;
  margin-top: -10px;
  text-align: left;
  line-height: 1.2;
}

.top-left .top-left-2 {
  font-size: 0.85rem;
  text-align: left;
  line-height: 1.7;
  width: 80%;
}

.top-left .btn-container {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  margin-top: 20px;
}

.top-right {
  width: 60%;
  display: flex;
  justify-content: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.top-right img {
  filter: drop-shadow(2px 2px 20px var(--color-6));
  animation: glow 1s infinite alternate;
  margin-top: 9rem;
  margin-left: 8rem;
  /* transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; */

}

.bottom {
  display: none;
}

.btn-1,
.btn-2 {
  font-family: var(--font-rubik);
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  color: var(--color-6);
  background-color: var(--color-2);
  background: linear-gradient(to bottom, transparent 50%, var(--color-3) 50%), var(--color-2);
  background-size: 100% 200%;
  border: 2px solid var(--color-6);
  transition: all 0.4s ease;
  user-select: none;
  margin: 10px;
  display: flex;
  font-size: 1vmax;
  justify-content: center;
  align-items: center;
}

.btn-1:hover,
.btn-2:hover {
  background-position: 0% 100%;
  transform: scale(1.05);
}

.down-arrow {
  position: relative;

}

#arrow {
  width: 40px;
  animation: smoothUpDown 2s infinite alternate ease-in-out;
}

@keyframes smoothUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(2px 2px 10px var(--color-6));
  }

  100% {
    filter: drop-shadow(2px 2px 30px var(--color-6));
  }
}

.top-left-1 {
  font-size: 6.6rem;
  letter-spacing: 1px;
  font-family: 'Inconsolata';
}

.top-left-2 {
  font-family: var(--font-rubik);
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 300;
}

.top-left-2-h6 {
  font-family: var(--font-rubik);
  font-size: 1.5rem;
  text-align: center;
  width: 80%;
  letter-spacing: 1px;
  line-height: 2rem;
  font-weight: 500;
  font-size: 1.8em;
}

@media (max-width: 900px) {
  .top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }

  .down-arrow {
    position: relative;
    height: 4rem;
  }

  .top-left {
    width: 100%;
    margin-left: 0;
    padding: 0 2rem;
    text-align: center;
  }

  .top-left-2 {
    font-size: 1.2rem;
    width: 100%;
  }

  .top .top-left h1 {
    font-size: 2.5rem;
    padding: 4px 0;
  }

  .top-left .top-left-2-h6 {
    font-size: 1.1rem;
    margin-top: -10px;
  }

  .top-left .btn-container {
    width: 100%;
    margin-top: 20px;
  }

  .top-left .btn-container button {
    font-size: 0.8rem;
  }

  .top .top-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .top .top-right img {
    width: 100%;
    max-width: 300px;
    margin-top: 2rem;
  }
}