@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);

  /* font family */

  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

.home-container{
  margin-top: 0rem;
}

.home-left{
  background: linear-gradient(to left, var(--color-4), var(--color-5));
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-left h1 {
  font-family: var(--font-rubik);
  font-size: 5.5vmax;
  color: rgba(70, 11, 70);
  position: absolute;
  top: 10rem;
  text-shadow: 1px 1px 10px rgba(70, 11, 70, 0.5);
}

b{
  font-family: var(--font-rubik);
    font-size: 5.5vmax;
  text-shadow: 5px 5px 10px var(--color-6);
  color: var(--color-1);
}

.home-left p{
  color:rgba(70, 11, 70);
  font-size: 2rem;
  position: absolute;
  top: 18rem;
  font-family: var(--font-rubik);
  font-weight: bold;
  text-shadow: 1px 1px 10px rgba(70, 11, 70, 0.5);
  width: 50%;
}

.rotating-image {
  max-width: 100%; 
  height: auto; 
  position: absolute;
  animation: moveUpDown 3s ease-in-out infinite; 
  width: 20vmax; 
  right: 15rem;
  top: 28rem;
}

@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-60px); 
  }
}

@media (min-width: 948px) and (max-width: 1120px) {
  .home-right img {
    display: none;
  }
  .home-left p{
    top: 10rem;
  }
}


@media (max-width: 948px) {

  .home-left h1{
    font-size: 3rem;
  }

  b{
    font-size: 3rem;
  }

  
  .para {
    position: absolute;
    top: -5rem;
    left: 1rem;
    width: 30rem;
  }
  
  .home-left p{
    font-size: 1.2rem;
    width: 99%;
    text-align: center;
  }

  .home-right img{
    position: absolute;
    width: 12rem;
    left:18rem;
    top: 32rem;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 580px) {

  .home-left h1{
    font-size: 2rem;
  }

  b{
    font-size: 2rem;
  }

  .para {
    position: absolute;
    width: 80%;
  }
  
  .home-left p{
    font-size: 1.1rem;
  }

  .home-right img{
    display: none;
  }
}

