@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);

  /* font family */

  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-component {
  position: fixed;
  width: 100%;
  height: 6rem;
  display: flex;
  gap: 14rem;

  justify-content: center;
  z-index: 999;
  background-color: rgba(194, 139, 187, 0.5);
  backdrop-filter: blur(10px);
}

.logo {
  
  padding: 2px;
  height: 110px;
  width: 120px;
  /* margin-left:5rem; */
}


@media (max-width: 800px) {
  .logo {
    margin-left: 5rem;
  }
}

@media (min-width: 500px) {
  .logo {
    margin-left: 0rem;
  }
}

@media (min-width: 200px) and (max-width: 490px) {
  .logo {
    margin-left: 12rem;
  }
}


.head-main {
  display: flex;
  cursor: pointer;
}



.head-main h3 {
  position: relative;
  top: -0.5rem;
  margin-left: 3rem;
  font-family: var(--font-1);
  font-size: 2.5rem;
  color: var(--color-6);
  font-weight: 700;
  text-shadow: 1px 1px 1px #919191;
  transition: 0.5s ease-in;
}

.head-main h3:hover {
  text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

span {
  margin-left: 1rem;
  font-size: 2rem;
  position: relative;
  top: -1rem;
}

.routes ul {
  display: flex;
  gap: 3rem;
  margin-top: 2.2rem;
}

.routes ul li {
  list-style: none;
  font-family: var(--font-rubik);
  font-weight: 500;
  cursor: pointer;
  color: #460b46;
  font-size: 20px;
  position: relative;
}

.routes ul li:hover::after {
  width: 100%;
  left: 0;
}

#nav-hov::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2.5px;
  bottom: 1px;
  left: 50%;
  top: 3.5rem !important;
  background-color: #460b46;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

#nav-hov:hover::after {
  width: 100%;
  left: 0;
}

.button {
  display: none;
}

.cart-cont{
  position: relative;
  padding-right: 10px;
  padding-top: 10px;
}

.cart-value{
  position: absolute;
  right: 10px;
  top: -5px;
  color: #fff;
  font-size: 13px;
  text-decoration: none;
  background-color: #ff4343;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .cart-cont{
    padding-top: 14px;
  }

  .cart-value{
    left: 128px;
    bottom: 0px;
  }

  span {
    font-size: 1.0rem;
  }

  .routes ul {
    display: none;
  }

  .main-component {
    gap: rem;
  }

  .button {
    position: absolute;
    display: flex;
    right: 1rem;
    top: 2rem;
  }

  .menu-open {
    overflow-y: auto;
    background-color: rgba(194, 139, 187, 0.5);
    backdrop-filter: blur(10px);
    height: 100vh;
    position: fixed;
    top: 0;
    left: -15rem;
    transition: left 0.5s ease;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slideInLeft 0.5s ease;
  }

  .menu-open .head-main .logo {
    display: none;
    flex-direction: column;
    margin-top: 150%;
    margin-left: 2px;
    padding: 30px;
    width: 100%;
  }

  @keyframes slideInLeft {
    from {
      left: -15rem;
    }

    to {
      left: 0;
    }
  }

  .menu-open.show {
    left: 0;
  }

  .menu-open .navbar_list {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    text-align: center;
  }

  .menu-open .navbar_list li {
    position: relative;
    top: -20rem;
    font-size: 2rem;
    cursor: pointer;
    text-decoration: none;
  }

  .menu-open .navbar_list li:hover {
    animation: navbar-animate ease-in-out both 0.4s;
  }

  @keyframes navbar-animate {
    from {
      position: relative;
      font-size: 2rem;
    }

    to {
      position: relative;
      font-size: 2.5rem;
    }
  }

  .btn {
    position: relative;
    top: -1rem;
    left: -2rem;
  }

  .btn1 {
    position: relative;
    top: -2rem;
    left: 0.5rem;
  }
}

@media (min-width:320px) and (max-width:421px) {
  .logo {
    margin-top: 0;
    padding: 8px;
  }
}