@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);

  /* font family */

  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product-all-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
  width: 100%;
}

.product-container {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to left, var(--color-4), var(--color-5));
  padding: 8rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.category-section{
  width:80vw;
  height:fit-content;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4rem;
}

.category-tabs{
  margin:0 0.4rem;
  margin-top: 1rem;
  width:fit-content;
  padding:0.6rem 0.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
}

.most-viewed-btn{
  position: absolute;
  right:0;
}

.category-tabs:hover{
  transform: translateY(-5px);
}

.product-all-container {

  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;
}

.product-heading {
  font-size: 2.5rem;
  color: var(--color-6);
  font-family: var(--font-rubik);
  margin-bottom: 2rem;
}

.product-card {
  background-color: var(--color-5);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: 350px;
  text-align: left;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-image {
  height: 70%;
  object-fit: cover;
  border-radius: 5px;
}

.product-name {
  font-size: 1.5rem;
  color: var(--color-6);
  font-family: var(--font-rubik);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 0.5rem;
}

.product-price {
  font-size: 1.2rem;
  color: #333;
  font-family: var(--font-rubik);
}

.product-status {
  font-size: 1rem;
  color: #777;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-rubik);
  white-space: nowrap;
}

input[type="text"] {
  width: 55%;
  margin-bottom: 20px;
  padding: 8px;
  border: 2.5px solid var(--color-6);
  border-radius: 10px;
  box-shadow: 10px 10px 22px rgba(0, 0, 0, 0.2); 
}

@media (max-width: 768px) {
  .product-card {
    width: calc(100% / 2 - 20px);
    height: 350px;
  }
  .product-container{
    padding: 7rem 1rem;
    }
}

@media (max-width: 450px) {
  .product-card {
    width: 100%;
    height: 350px;
  }
  .product-container{
  padding: 7rem 1rem;
  }
}
