@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);
  
  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-container {
  width: 99.1vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to left, var(--color-4), var(--color-5));
  padding: 6rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
}


.left-side {
  border: 1px solid var(--color-6);
  margin-top: 5rem;
  width: 30rem;
  height: 37rem;
  padding-left: .5rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--color-6);
}
.left-side h2{
  text-align: center;
  font-size: 2rem;
}

.left-side h3{
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-2);
  color: rgb(229, 14, 232);
}

.right-side{
  border: 1px solid var(--color-6);
  margin-top: 5rem;
  margin-left: 5rem; 
  width: 52rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--color-6);
}

.right-side .member-background{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  
}

.right-side .member-background .member{
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--color-6)
}

.right-side .member-background .member:hover{
  box-shadow: 2px 2px 20px whitesmoke;
}

.right-side .member-background .member img{
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  border: 2px solid var(--color-6);
  
}



/* member detail particular spectastyle */

.member-details{
  width: 28rem;
  height: 28rem;
  padding-left: 1.3rem;
  padding-top: 1.3rem;
}

.member-details img{
  width: 18rem;
  height: 20rem;
  border: 1px solid var(--color-6);
  box-shadow: 1px 1px 15px var(--color-6);
  border-radius: 20px;
  padding: 2px;
  margin-left: 3rem;
}

.member-details h5{
  width: 25rem;
  height: 8.5rem;
  border: 1px solid var(--color-6);
  box-shadow: 2px 2px 10px var(--color-6);
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-2);
}





/* for extra styling of hovering */
.right-side .member-background .member {
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  cursor: pointer;
  position: relative; 
}

.right-side .member-background .member:hover {
  box-shadow: 2px 2px 43px black;
}

.right-side .member-background .member:hover h6 {
  display: block;
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 2px 10px;
  border-radius: 5px;
}

.right-side .member-background .member h6 {
  display: none;
}


@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Croissant+One&family=Inconsolata:wght@200;900&family=Rubik:wght@300&display=swap");

:root {
  --color-1: rgb(205, 180, 219);
  --color-2: rgb(255, 200, 221);
  --color-3: rgb(255, 175, 204);
  --color-4: rgb(189, 224, 254);
  --color-5: rgb(255, 210, 255);
  --color-6: rgb(70, 11, 70);
  
  --font-1: "Bebas Neue", sans-serif;
  --font-2: "Croissant One", cursive;
  --font-inconsolata: "Inconsolata", monospace;
  --font-rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.team-container {
  width: 99.1vw;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(to left, var(--color-4), var(--color-5));
  padding: 6rem 3.5rem;
  display: flex;
  flex-wrap: wrap;
}


.left-side {
  border: 1px solid var(--color-6);
  margin-top: 5rem;
  width: 30rem;
  height: 37rem;
  padding-left: .5rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--color-6);
}
.left-side h2{
  text-align: center;
  font-size: 2rem;
}

.left-side h3{
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-2);
  color: rgb(229, 14, 232);
}

.right-side{
  border: 1px solid var(--color-6);
  margin-top: 5rem;
  margin-left: 5rem; 
  width: 52rem;
  border-radius: 20px;
  box-shadow: 2px 2px 10px var(--color-6);
}

.right-side .member-background{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  
}

.right-side .member-background .member{
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 2px 2px 10px var(--color-6)
}

.right-side .member-background .member:hover{
  box-shadow: 2px 2px 20px whitesmoke;
}

.right-side .member-background .member img{
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  border: 2px solid var(--color-6);
  
}



/* member detail particular spectastyle */

.member-details{
  width: 28rem;
  height: 28rem;
  padding-left: 1.3rem;
  padding-top: 1.3rem;
}

.member-details img{
  width: 18rem;
  height: 20rem;
  border: 1px solid var(--color-6);
  box-shadow: 1px 1px 15px var(--color-6);
  border-radius: 20px;
  padding: 2px;
  margin-left: 3rem;
}

.member-details h5{
  width: 25rem;
  height: 8.5rem;
  border: 1px solid var(--color-6);
  box-shadow: 2px 2px 10px var(--color-6);
  border-radius: 10px;
  padding: 10px;
  font-family: var(--font-2);
}





/* for extra styling of hovering */
.right-side .member-background .member {
  height: 15rem;
  width: 15rem;
  border-radius: 20px;
  cursor: pointer;
  position: relative; 
}

.right-side .member-background .member:hover {
  box-shadow: 2px 2px 43px black;
}

.right-side .member-background .member:hover h6 {
  display: block;
  position: absolute;
  bottom: 10px; 
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7); 
  color: white; 
  padding: 2px 10px;
  border-radius: 5px;
}

.right-side .member-background .member h6 {
  display: none;
}


@media screen and (max-width: 531px) {
  .left-side {
    width: 100%; 
    margin: 0;
    height: 100%;
  }

  .right-side {
    margin-left: 0; 
    width: 100%; 
  }

  .right-side .member-background .member {
    width: 100%; 
  }

  .member-details {
    width: 100%; 
  }

  .member-details img {
    width: 100%; 
    margin-left: -5px;
  }

  .member-details h5 {
    width: 100%; 
  }
}
