.custom-dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px;
  background-color: rgba(217, 148, 249, 0.519);
}

.custom-dropdown-header {
  display: flex;
  width: 400px;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin: 0px;
  padding: 10px;
  
  background-color: rgb(248, 235, 255);
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-dropdown-selected {
  flex-grow: 1;
}

.custom-dropdown-arrow {
  margin-left: 10px;
}

.custom-dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(228, 152, 245, 0.563);
  border: 1px solid #ccc;
  backdrop-filter: blur(30px);
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}

.custom-dropdown-option {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(50, 0, 56, 0.227);
}

.custom-dropdown-option:hover {
  background-color: purple;
  color: #fff;
}
