* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .Container {
    width: 100%;
    height: 100%;
  }
  
  .my-main-route{
    cursor: pointer;
  }
  
  nav {
    position: absolute;
    width: 100%;
    height: 10%;
    background-color: rgb(5, 5, 5);
  }
  
  nav h1 {
    position: absolute;
    color: white;
    font-size: 30px;
    top: 25%;
    left: 5%;
  }
  
  .side-dash {
    position: absolute;
    background-color: rgb(5, 5, 5);
    height: 100%;
    width: 18%;
    z-index: -1;
  }
  
  .outer-container {
    position: absolute;
    top: 18%;
    width: 100%;
    height: 82%;
  }
  
  .outer-container h3 {
    position: absolute;
    top: 0.2%;
    left: 25%;
    color: white;
  }
  
  .register-user {
    position: absolute;
    top: 10%;
    left: 35%;
    color: white;
    cursor: pointer;
  }
  
  .All-myUser {
    position: absolute;
    top: 14%;
    left: 35%;
    color: white;
    cursor: pointer;
  }
  