*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  cursor: none;
}

::-webkit-scrollbar{
    width: 0.8rem;
}

::-webkit-scrollbar-track{
    background-color: rgb(205, 180, 219);
}

::-webkit-scrollbar-thumb{
    background: rgb(70, 11, 70);
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: content-box;
}
  
  .cursor-dot,
  .cursor-dot-outline {
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
    z-index: 999;
  }
  
  .cursor-dot {
    width: 10px;
    height: 10px;
    border: 0.5px solid blue;
    background-color: rgb(70, 11, 70);
  }
  
  .cursor-dot-outline {
    width: 40px;
    height: 40px; 
    background-color: rgba(70, 11, 70,0.50);
  }
  
  .links-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }

  .dot{
    width: 20px;
    height: 20px;
    background: #460b46;
    position: fixed;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }

  .circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    pointer-events: none;
    background: radial-gradient(circle, #460b46, rgba(141, 38, 172, 0.5));
    transition: transform 0.1s, left 0.1s, top 0.1s;
  }

  .circle-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 9999;
  }

  @media (max-width : 768px){
    .circle-container{
      display: none;
    }
  }